.container {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 3rem;
  gap: 2rem;
}

@media only screen and (max-width: 720px) {
  .container {
    flex-direction: column;
  }
}

.container img {
  max-width: 25rem;
  border-radius: 50%;
}

.container div {
  flex-direction: column;
  margin-top: 1.25rem;
  margin-bottom: 0.30rem;
  text-align: center;
}
.container div h1 {
  font-size: 5.5rem;
  font-weight: 600;
  color: var(--green);
}

.container div p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
  margin-top: 1rem;
}
